<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Module">
            <directory>tests/Feature/Modules</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Feature/Core</directory>
            <directory>tests/Feature/Platform</directory>
            <directory>tests/Feature/ADT</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory>tests/E2E</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>tests/Performance</directory>
            <directory>tests/Benchmark</directory>
        </testsuite>
        <testsuite name="Architecture">
            <directory>tests/Architecture</directory>
        </testsuite>
        <testsuite name="Reliability">
            <directory>tests/Reliability</directory>
        </testsuite>
        <testsuite name="QA">
            <directory>tests/QA</directory>
        </testsuite>
        <testsuite name="Security">
            <directory>tests/Security</directory>
        </testsuite>
        <testsuite name="Runtime">
            <directory>tests/Runtime</directory>
        </testsuite>
        <testsuite name="Stability">
            <directory>tests/Stability</directory>
        </testsuite>
        <testsuite name="Browser">
            <directory>tests/Browser</directory>
        </testsuite>
        <testsuite name="Production">
            <directory>tests/Production</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Benchmark">
            <directory>tests/Benchmark</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="axiomos_test"/>
        <env name="DB_SCHEMA" value="axiomos_test_suite"/>
        <env name="DB_USERNAME" value="postgres"/>
        <env name="DB_PASSWORD" value="postgres"/>
        <env name="PARALLEL_TESTING" value="false"/>
        <env name="TEST_SCHEMA" value="axiomos_test_suite"/>
    </php>
    <source>
        <include>
            <directory>app</directory>
            <directory>modules</directory>
        </include>
        <exclude>
            <directory>modules/*/Database/Migrations</directory>
            <directory>modules/*/Database/Seeders</directory>
            <directory>modules/*/Database/Factories</directory>
        </exclude>
    </source>
</phpunit>
